* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #4A4A4A;
    margin-bottom: 20px;
    text-align: center;
}

#listaReservas {
    margin-top: 30px;
}

#listaReservas div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1rem;
}

#listaReservas p {
    margin: 8px 0;
}

strong {
    color: #7f7f7f;
}

button {
    background-color: #D89DFF;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9a72e3;
}

button:focus {
    outline: none;
}

hr {
    border: none;
    height: 1px;
    background-color: #eee;
    margin: 15px 0;
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: #D89DFF;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

a:hover {
    background-color: #9a72e3;
}

a:focus {
    outline: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container > a {
    width: auto;
}
